.idea
/deployment/.vagrant/
/.cache/motd.legal-displayed
/.bash_history
/.node_repl_history
/.sudo_as_admin_successful
/.cache/
/.config/
/.local/
/.npm/
/.ssh/
/composer.phar
/package.json
/package-lock.json
/.node-gyp/
