.lesson-title {
    padding: 20px 20px 0;
    width: 100%;
}

.lesson-title__textarea {
    background-color: transparent;
    border: none;
    display: inline-block;
    height: auto;
    resize: none;
    transition: background-color linear 50ms;
    width: 100%;

}

.lesson-title__textarea::placeholder{
    //color: #777;
}

.lesson-title__textarea:focus {
    background-color: #eee;
    outline: none;
}
