.edustuff-text {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 30px);
}

.edustuff-text__textarea {
  background-color: transparent;
  border: none;
  display: inline-block;
  height: auto;
  resize: none;
  transition: background-color linear 50ms;
  width: 100%;
}

.edustuff-text__textarea:focus {
  background-color: #eee;
  outline: none;
}

.lesson-content {
  list-style: none;
  padding: 0;
}

.lesson-content__button-trash {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #cc5555;
  vertical-align: top;
}

.lesson-title {
  padding: 20px 20px 0;
  width: 100%;
}

.lesson-title__textarea {
  background-color: transparent;
  border: none;
  display: inline-block;
  height: auto;
  resize: none;
  transition: background-color linear 50ms;
  width: 100%;
}

.lesson-title__textarea:focus {
  background-color: #eee;
  outline: none;
}

.lesson-description {
  padding: 10px 20px 0;
  width: 100%;
}

.lesson-description__textarea {
  background-color: transparent;
  border: none;
  display: inline-block;
  resize: none;
  transition: background-color linear 50ms;
  width: 100%;
}

.lesson-description__textarea:focus {
  background-color: #eee;
  outline: none;
}

.lesson-manage-block {
  width: 100%;
}

.lesson-manage-block__create-button, .lesson-manage-block__save-button {
  background-color: #0a66b7;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  height: 30px;
  padding: 3px 20px;
  transition: background-color linear 80ms;
  width: auto;
}

.lesson-manage-block__create-button:hover, .lesson-manage-block__save-button:hover {
  background-color: #0955a6;
}

