.table-wrapper-scroll-y {
    display: block;
    max-height: 200px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

div.mdb-datatable div.mdb-datatable-length select,
div.mdb-datatable div.mdb-datatable-length input {
    width: auto;
}

div.mdb-datatable div.mdb-datatable-length.d-flex.flex-row label {
    margin-top: 1.2rem;
    margin-right: 1rem;
}

div.mdb-datatable div.mdb-datatable-length.d-flex.flex-row .select-wrapper.mdb-select span,
div.mdb-datatable div.mdb-datatable-length.d-flex.flex-row .select-wrapper.mdb-select .select-dropdown {
    margin-top: 1rem;
}

div.mdb-datatable div.mdb-datatable-length label, div.mdb-datatable div.mdb-datatable-filter label {
    font-weight: 400;
    text-align: left;
    margin-bottom: 0;
}

div.mdb-datatable div.mdb-datatable-filter {
    text-align: right;
}

div.mdb-datatable div.mdb-datatable-filter select,
div.mdb-datatable div.mdb-datatable-filter input {
    width: auto;
}

div.mdb-datatable div.mdb-datatable-filter input {
    display: inline-block;
    margin-left: .5rem;
}

div.mdb-datatable div.mdb-datatable-info, div.mdb-datatable div.mdb-dataTables_paginate, div.mdb-datatable div.mdb-datatable-entries {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 400;
    font-size: .9rem;
    padding-left: .7rem;
    padding-right: .7rem;
}

div.mdb-datatable div.mdb-datatable-info {
    display: flex;
    justify-content: center;
}

div.mdb-datatable div.mdb-dataTables_paginate {
    margin: 0;
    text-align: right;
}

div.mdb-datatable div.mdb-dataTables_paginate ul.pagination {
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-pack: end;
}

div.mdb-datatable div.mdb-dataTables_paginate ul.pagination .page-item.active .page-link {
    background-color: #7e7e7e;
}

div.mdb-datatable div.mdb-dataTables_paginate ul.pagination .page-item.active .page-link:focus {
    background-color: #7e7e7e;
}

div.mdb-datatable div.mdb-dataTables_paginate ul.pagination .page-item .page-link:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (max-width: 767px) {
    div.mdb-datatable div .mdb-datatable-length,
    div.mdb-datatable div .mdb-datatable-filter,
    div.mdb-datatable div .mdb-datatable-info,
    div.mdb-datatable div .mdb-dataTables_paginate ul.pagination {
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        text-align: center;
        -webkit-box-pack: center;
    }
}

.bs-select select {
    display: inline-block !important;
}

table.mdb-dataTable thead,
table thead.mdb-dataTable-head {
    cursor: pointer;
}

table.mdb-dataTable thead th,
table thead.mdb-dataTable-head th {
    font-weight: 600;
}

table.mdb-dataTable thead > tr > th.sorting_asc, table.mdb-dataTable thead > tr > th.sorting_desc, table.mdb-dataTable thead > tr > th.sorting,
table.mdb-dataTable thead > tr > td.sorting_asc,
table.mdb-dataTable thead > tr > td.sorting_desc,
table.mdb-dataTable thead > tr > td.sorting,
table thead.mdb-dataTable-head > tr > th.sorting_asc,
table thead.mdb-dataTable-head > tr > th.sorting_desc,
table thead.mdb-dataTable-head > tr > th.sorting,
table thead.mdb-dataTable-head > tr > td.sorting_asc,
table thead.mdb-dataTable-head > tr > td.sorting_desc,
table thead.mdb-dataTable-head > tr > td.sorting {
    padding-right: 30px;
}

table.mdb-dataTable thead > tr > th:active,
table.mdb-dataTable thead > tr > td:active,
table thead.mdb-dataTable-head > tr > th:active,
table thead.mdb-dataTable-head > tr > td:active {
    outline: none;
}

table.mdb-dataTable thead .sorting,
table.mdb-dataTable thead .sorting_asc,
table.mdb-dataTable thead .sorting_desc,
table.mdb-dataTable thead .sorting_asc_disabled,
table.mdb-dataTable thead .sorting_desc_disabled,
table thead.mdb-dataTable-head .sorting,
table thead.mdb-dataTable-head .sorting_asc,
table thead.mdb-dataTable-head .sorting_desc,
table thead.mdb-dataTable-head .sorting_asc_disabled,
table thead.mdb-dataTable-head .sorting_desc_disabled {
    position: relative;
    cursor: pointer;
}

table.mdb-dataTable thead .sorting:before, table.mdb-dataTable thead .sorting:after,
table.mdb-dataTable thead .sorting_asc:before,
table.mdb-dataTable thead .sorting_asc:after,
table.mdb-dataTable thead .sorting_desc:before,
table.mdb-dataTable thead .sorting_desc:after,
table.mdb-dataTable thead .sorting_asc_disabled:before,
table.mdb-dataTable thead .sorting_asc_disabled:after,
table.mdb-dataTable thead .sorting_desc_disabled:before,
table.mdb-dataTable thead .sorting_desc_disabled:after,
table thead.mdb-dataTable-head .sorting:before,
table thead.mdb-dataTable-head .sorting:after,
table thead.mdb-dataTable-head .sorting_asc:before,
table thead.mdb-dataTable-head .sorting_asc:after,
table thead.mdb-dataTable-head .sorting_desc:before,
table thead.mdb-dataTable-head .sorting_desc:after,
table thead.mdb-dataTable-head .sorting_asc_disabled:before,
table thead.mdb-dataTable-head .sorting_asc_disabled:after,
table thead.mdb-dataTable-head .sorting_desc_disabled:before,
table thead.mdb-dataTable-head .sorting_desc_disabled:after {
    position: absolute;
    bottom: 1rem;
    display: block;
    opacity: 0;
}

table.mdb-dataTable thead .sorting:hover::before,
table thead.mdb-dataTable-head .sorting:hover::before {
    opacity: 0.6;
}

table.mdb-dataTable thead .sorting:before,
table.mdb-dataTable thead .sorting_asc:before,
table.mdb-dataTable thead .sorting_desc:before,
table.mdb-dataTable thead .sorting_asc_disabled:before,
table.mdb-dataTable thead .sorting_desc_disabled:before,
table thead.mdb-dataTable-head .sorting:before,
table thead.mdb-dataTable-head .sorting_asc:before,
table thead.mdb-dataTable-head .sorting_desc:before,
table thead.mdb-dataTable-head .sorting_asc_disabled:before,
table thead.mdb-dataTable-head .sorting_desc_disabled:before {
    left: -.4rem;
    font-family: "Font Awesome\ 5 Free", sans-serif;
    font-size: 1rem;
    font-weight: 900;
    content: "\f062";
}

table.mdb-dataTable thead .sorting:after,
table.mdb-dataTable thead .sorting_asc:after,
table.mdb-dataTable thead .sorting_desc:after,
table.mdb-dataTable thead .sorting_asc_disabled:after,
table.mdb-dataTable thead .sorting_desc_disabled:after,
table thead.mdb-dataTable-head .sorting:after,
table thead.mdb-dataTable-head .sorting_asc:after,
table thead.mdb-dataTable-head .sorting_desc:after,
table thead.mdb-dataTable-head .sorting_asc_disabled:after,
table thead.mdb-dataTable-head .sorting_desc_disabled:after {
    left: -.4rem;
    font-family: "Font Awesome\ 5 Free", sans-serif;
    font-size: 1rem;
    font-weight: 900;
    content: "\f063";
}

table.mdb-dataTable thead .sorting_asc:before,
table.mdb-dataTable thead .sorting_desc:after,
table thead.mdb-dataTable-head .sorting_asc:before,
table thead.mdb-dataTable-head .sorting_desc:after {
    opacity: 1;
}

table.mdb-dataTable thead .sorting_asc_disabled:before,
table.mdb-dataTable thead .sorting_desc_disabled:after,
table thead.mdb-dataTable-head .sorting_asc_disabled:before,
table thead.mdb-dataTable-head .sorting_desc_disabled:after {
    opacity: 0;
}

.mdb-dataTable_scrollBodyHead .dataTables_scrollHeadInner,
.mdb-dataTable_scrollBodyHead .dataTables_scrollHeadInner table {
    padding-right: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
}

.mdb-dataTable_scrollBodyHead .dataTables_scrollHeadInner table {
    margin-bottom: 0 !important;
}

.dataTables_scrollFoot .dataTables_scrollFootInner,
.dataTables_scrollFoot .dataTables_scrollFootInner table {
    padding-right: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
}

.mdb-datatable table tr {
    border-bottom: 1px solid #dee2e6;
}

table.mdb-dataTable tbody > tr.selected,
table.mdb-dataTable tbody > tr > .selected {
    background-color: #f5f5f5;
}

table.mdb-dataTable tbody > tr:not(.selected):hover {
    background-color: rgba(245, 245, 245, 0.4);
}

table.mdb-dataTable.stripe tbody > tr.odd.selected,
table.mdb-dataTable.stripe tbody > tr.odd > .selected, table.mdb-dataTable.display tbody > tr.odd.selected,
table.mdb-dataTable.display tbody > tr.odd > .selected {
    background-color: #acbad4;
}

table.mdb-dataTable.hover tbody > tr.selected:hover,
table.mdb-dataTable.hover tbody > tr > .selected:hover, table.mdb-dataTable.display tbody > tr.selected:hover,
table.mdb-dataTable.display tbody > tr > .selected:hover {
    background-color: #aab7d1;
}

table.mdb-dataTable.order-column tbody > tr.selected > .sorting_1,
table.mdb-dataTable.order-column tbody > tr.selected > .sorting_2,
table.mdb-dataTable.order-column tbody > tr.selected > .sorting_3, table.mdb-dataTable.display tbody > tr.selected > .sorting_1,
table.mdb-dataTable.display tbody > tr.selected > .sorting_2,
table.mdb-dataTable.display tbody > tr.selected > .sorting_3 {
    background-color: #acbad5;
}

table.mdb-dataTable.order-column tbody > tr > .selected, table.mdb-dataTable.display tbody > tr > .selected {
    background-color: #acbad5;
}

table.mdb-dataTable.display tbody > tr.odd.selected > .sorting_1, table.mdb-dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_1 {
    background-color: #a6b4cd;
}

table.mdb-dataTable.display tbody > tr.odd.selected > .sorting_2,
table.mdb-dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_2 {
    background-color: #a8b5cf;
}

table.mdb-dataTable.display tbody > tr.odd.selected > .sorting_3,
table.mdb-dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_3 {
    background-color: #a9b7d1;
}

table.mdb-dataTable.display tbody > tr.even.selected > .sorting_1,
table.mdb-dataTable.order-column.stripe tbody > tr.even.selected > .sorting_1 {
    background-color: #acbad5;
}

table.mdb-dataTable.display tbody > tr.even.selected > .sorting_2,
table.mdb-dataTable.order-column.stripe tbody > tr.even.selected > .sorting_2 {
    background-color: #aebcd6;
}

table.mdb-dataTable.display tbody > tr.even.selected > .sorting_3,
table.mdb-dataTable.order-column.stripe tbody > tr.even.selected > .sorting_3 {
    background-color: #afbdd8;
}

table.mdb-dataTable.display tbody > tr.odd > .selected,
table.mdb-dataTable.order-column.stripe tbody > tr.odd > .selected {
    background-color: #a6b4cd;
}

table.mdb-dataTable.display tbody > tr.even > .selected,
table.mdb-dataTable.order-column.stripe tbody > tr.even > .selected {
    background-color: #acbad5;
}

table.mdb-dataTable.display tbody > tr.selected:hover > .sorting_1,
table.mdb-dataTable.order-column.hover tbody > tr.selected:hover > .sorting_1 {
    background-color: #a2aec7;
}

table.mdb-dataTable.display tbody > tr.selected:hover > .sorting_2,
table.mdb-dataTable.order-column.hover tbody > tr.selected:hover > .sorting_2 {
    background-color: #a3b0c9;
}

table.mdb-dataTable.display tbody > tr.selected:hover > .sorting_3,
table.mdb-dataTable.order-column.hover tbody > tr.selected:hover > .sorting_3 {
    background-color: #a5b2cb;
}

table.mdb-dataTable.display tbody > tr:hover > .selected,
table.mdb-dataTable.display tbody > tr > .selected:hover, table.mdb-dataTable.order-column.hover tbody > tr:hover > .selected,
table.mdb-dataTable.order-column.hover tbody > tr > .selected:hover {
    background-color: #a2aec7;
}

table.mdb-dataTable tbody td.select-checkbox, table.mdb-dataTable tbody td.select-checkbox-all,
table.mdb-dataTable tbody th.select-checkbox,
table.mdb-dataTable tbody th.select-checkbox-all,
table.mdb-dataTable thead td.select-checkbox,
table.mdb-dataTable thead td.select-checkbox-all,
table.mdb-dataTable thead th.select-checkbox,
table.mdb-dataTable thead th.select-checkbox-all {
    position: relative;
}

table.mdb-dataTable tbody td.select-checkbox:before, table.mdb-dataTable tbody td.select-checkbox:after, table.mdb-dataTable tbody td.select-checkbox-all:before, table.mdb-dataTable tbody td.select-checkbox-all:after,
table.mdb-dataTable tbody th.select-checkbox:before,
table.mdb-dataTable tbody th.select-checkbox:after,
table.mdb-dataTable tbody th.select-checkbox-all:before,
table.mdb-dataTable tbody th.select-checkbox-all:after,
table.mdb-dataTable thead td.select-checkbox:before,
table.mdb-dataTable thead td.select-checkbox:after,
table.mdb-dataTable thead td.select-checkbox-all:before,
table.mdb-dataTable thead td.select-checkbox-all:after,
table.mdb-dataTable thead th.select-checkbox:before,
table.mdb-dataTable thead th.select-checkbox:after,
table.mdb-dataTable thead th.select-checkbox-all:before,
table.mdb-dataTable thead th.select-checkbox-all:after {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    box-sizing: border-box;
    display: block;
    width: 20px;
    height: 20px;
}

table.mdb-dataTable tbody td.select-checkbox:hover, table.mdb-dataTable tbody td.select-checkbox-all:hover,
table.mdb-dataTable tbody th.select-checkbox:hover,
table.mdb-dataTable tbody th.select-checkbox-all:hover,
table.mdb-dataTable thead td.select-checkbox:hover,
table.mdb-dataTable thead td.select-checkbox-all:hover,
table.mdb-dataTable thead th.select-checkbox:hover,
table.mdb-dataTable thead th.select-checkbox-all:hover {
    cursor: pointer;
}

table.mdb-dataTable tbody td.select-checkbox:before,
table.mdb-dataTable tbody th.select-checkbox.select-checkbox-all:before,
table.mdb-dataTable thead td.select-checkbox:before,
table.mdb-dataTable thead th.select-checkbox.select-checkbox-all:before {
    content: ' ';
    border: 2px solid #5a5a5a;
    border-radius: 3px;
}

table.mdb-dataTable tr.selected td.select-checkbox:after,
table.mdb-dataTable tr.selected th.select-checkbox:after {
    margin-top: 0;
    text-align: center;
    font-family: 'Font Awesome\ 5 Free', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    content: '\f00c';
    background-color: #a6c;
    box-shadow: 0 0 1em #5a5a5a;
    color: #fff;
}

div.mdb-datatable span.select-info, div.mdb-datatable span.select-item {
    margin-left: 0.5em;
}

@media screen and (max-width: 640px) {
    div.mdb-datatable span.select-info, div.mdb-datatable span.select-item {
        display: block;
        margin-left: 0;
    }
}
