.editor__image-block-preview {
    position: relative;
}

.editor__image-block-preview-image {
    width: 100%;
}

.editor__image-block-preview:hover:after {
    background: rgba(100,100,100,0.5);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.editor__image-block-preview-actions {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    transform: translateY(-50%) translateX(-50%);
}

.editor__image-placeholder {
    border: #cecece 1px dashed;
    border-radius: 5px;
    color: #cecece;
    height: 50px;
    padding: 10px 0;
    text-align: center;
}

.editor__image-block-preview-actions-update{
    cursor: pointer;
}

.editor__image-block-preview-actions-delete{
    background: transparent;
    border: none;
    box-shadow: none;
    color: red;
    font-size: 18px;
    margin-right: 30px;
}
